/* To apply to all elements depending on specifity */
* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

header {
  width: 100%;
  height: ;
  background-color: rgb(115, 208, 239);
  color: white;
}

.my-name {
  display: flex;
  flex: 2;
  justify-content: center;
}

.tabs {
 display: flex;
 flex: 1;
 justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: row;
}

/* about page specifically */
.about-body {
  background-color: rgb(229, 150, 81);
}

 p {
  margin-bottom: 20px;
  text-indent: 20px;
  text-align: center;
  width: 800px;
 }

 .about-p {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
 }

 .about-H {
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
 }

.profile-pic-container {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  margin-top: 30px;
}

 .profile-pic {
    width: 300px;
    height: 400px;
    border-radius: 85px;
 }

 