/* To apply to all elements depending on specifity */
* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

header {
  width: 100%;
  height: ;
  background-color: rgb(115, 208, 239);
  color: white;
}

.my-name {
  display: flex;
  flex: 2;
  justify-content: center;
}

.tabs {
 display: flex;
 flex: 1;
 justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: row;
}
