/* To apply to all elements depending on specifity */
* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

header {
  width: 100%;
  height: ;
  background-color: rgb(115, 208, 239);
  color: white;
}

.my-name {
  display: flex;
  flex: 2;
  justify-content: center;
}

.tabs {
 display: flex;
 flex: 1;
 justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
}

.contact-body {
  background-color: orange
}

.contact-H {
  text-align: center;
  margin-bottom: 50px;
}

.career-links {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.linkedin-link {
  margin-right: 125px;
}

.email-input {
  display: block;
  text-align: center;
}

.email-message {
  display: flex;
  justify-content: center;
}

.email-submit-button {
  display: flex;
  justify-content: center;
}

/* Start working on message and message box her */