/* To apply to all elements depending on specifity */
* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

header {
  width: 100%;
  height: 50px;
  background-color: #EF796D;
}

.my-name {
  display: flex;
  flex: 1.55;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.75em;
  font-weight: 600;
  
}
.my-name:hover {
  background-color: #A25E51;
  opacity: 0.8;
  transition: 0.3s;
}
.my-name:active {
  background-color: #A25E51;
  opacity: 0.5;
  transition: 0.2s;
}

.tabs {
 display: flex;
 flex: 1;
 justify-content: center;
 align-items: center;
 height: 50px;
 font-size: 1.35em;
 font-weight: bold;
}
.tabs:hover {
  background-color: rgb(144, 165, 179);
  opacity: 0.8;
  transition: 0.3s;
}
.tabs:active {
  opacity: 0.5;
  transition: 0.5s;
}

.header-container {
  display: flex;
  flex-direction: row;
}

/* Portfolio Page Specifically */
h1 {
  color: rgb(8, 60, 88);
  font-size: 60px;
  margin-top:100px;
  margin-bottom: 60px;
}

p {
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(8, 60, 88);
}

.project-description {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.project-picture-row {
  margin-bottom: 12px;
}

.project-picture {
  width: 300px;
  height: 200px;
  display: block;
}

/* horizontal layout */
.project-info {
  display: inline-block;
  width: 200px;
}

.project-name {
  margin-top: 0px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  line-height: 20px;
  margin-bottom: 8px;
}

.project-details {
  margin-bottom: 10px;
}

.date-completed {
  font-size: 14
  px;
  color: rgb(8, 60, 88);
  margin-bottom: 4px;
}

body {
  text-align: center;
  background-color: #D5936F;

}

.resume-H {
  border-style: solid;
  border-radius: 15px;
  border-width: 5px;
  padding: 15px;
  font-size: 25px;
}
.resume-H:hover {
  background-color: rgb(144, 165, 179);
}

 /* Contact Icons*/
.contact-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  border-style: solid;
  margin-top: 50px;
}

.linkedin-link, .github-link, .my-phone-number, .my-email {
  font-size: 30px;
  margin-top: 10px;
}